.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

.spacey >:not(:first-child) {
  margin-left: 5px;
}

.boxy {
  border: 1px solid grey;
}

.idea-box {
  font-size: 30px;
}